.timeminder .timeminder-timerPopup {
  width: 500px;
  background-image: url("data:image/svg+xml,%3csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3e%3cpath d='M0 169L30 155C60 141 120 113 180 100C240 87 300 89 360 105C420 121 480 151 540 173C600 195 660 209 720 191C780 173 840 123 870 98L900 73L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z' fill='%236198ff'%3e%3c/path%3e%3cpath d='M0 199L30 188C60 177 120 155 180 142C240 129 300 125 360 139C420 153 480 185 540 206C600 227 660 237 720 216C780 195 840 143 870 117L900 91L900 71L870 96C840 121 780 171 720 189C660 207 600 193 540 171C480 149 420 119 360 103C300 87 240 85 180 98C120 111 60 139 30 153L0 167Z' fill='%23538eff'%3e%3c/path%3e%3cpath d='M0 265L30 254C60 243 120 221 180 201C240 181 300 163 360 170C420 177 480 209 540 230C600 251 660 261 720 246C780 231 840 191 870 171L900 151L900 89L870 115C840 141 780 193 720 214C660 235 600 225 540 204C480 183 420 151 360 137C300 123 240 127 180 140C120 153 60 175 30 186L0 197Z' fill='%234385ff'%3e%3c/path%3e%3cpath d='M0 349L30 337C60 325 120 301 180 275C240 249 300 221 360 230C420 239 480 285 540 308C600 331 660 331 720 307C780 283 840 235 870 211L900 187L900 149L870 169C840 189 780 229 720 244C660 259 600 249 540 228C480 207 420 175 360 168C300 161 240 179 180 199C120 219 60 241 30 252L0 263Z' fill='%23337bff'%3e%3c/path%3e%3cpath d='M0 385L30 372C60 359 120 333 180 305C240 277 300 247 360 255C420 263 480 309 540 333C600 357 660 359 720 337C780 315 840 269 870 246L900 223L900 185L870 209C840 233 780 281 720 305C660 329 600 329 540 306C480 283 420 237 360 228C300 219 240 247 180 273C120 299 60 323 30 335L0 347Z' fill='%232071ff'%3e%3c/path%3e%3cpath d='M0 439L30 428C60 417 120 395 180 368C240 341 300 309 360 318C420 327 480 377 540 396C600 415 660 403 720 381C780 359 840 327 870 311L900 295L900 221L870 244C840 267 780 313 720 335C660 357 600 355 540 331C480 307 420 261 360 253C300 245 240 275 180 303C120 331 60 357 30 370L0 383Z' fill='%230066ff'%3e%3c/path%3e%3cpath d='M0 481L30 466C60 451 120 421 180 394C240 367 300 343 360 354C420 365 480 411 540 428C600 445 660 433 720 416C780 399 840 377 870 366L900 355L900 293L870 309C840 325 780 357 720 379C660 401 600 413 540 394C480 375 420 325 360 316C300 307 240 339 180 366C120 393 60 415 30 426L0 437Z' fill='%230061f1'%3e%3c/path%3e%3cpath d='M0 505L30 491C60 477 120 449 180 421C240 393 300 365 360 374C420 383 480 429 540 445C600 461 660 447 720 432C780 417 840 401 870 393L900 385L900 353L870 364C840 375 780 397 720 414C660 431 600 443 540 426C480 409 420 363 360 352C300 341 240 365 180 392C120 419 60 449 30 464L0 479Z' fill='%23005ce3'%3e%3c/path%3e%3cpath d='M0 523L30 511C60 499 120 475 180 451C240 427 300 403 360 410C420 417 480 455 540 470C600 485 660 477 720 466C780 455 840 441 870 434L900 427L900 383L870 391C840 399 780 415 720 430C660 445 600 459 540 443C480 427 420 381 360 372C300 363 240 391 180 419C120 447 60 475 30 489L0 503Z' fill='%230056d6'%3e%3c/path%3e%3cpath d='M0 535L30 526C60 517 120 499 180 479C240 459 300 437 360 445C420 453 480 491 540 505C600 519 660 509 720 495C780 481 840 463 870 454L900 445L900 425L870 432C840 439 780 453 720 464C660 475 600 483 540 468C480 453 420 415 360 408C300 401 240 425 180 449C120 473 60 497 30 509L0 521Z' fill='%230051c8'%3e%3c/path%3e%3cpath d='M0 601L30 601C60 601 120 601 180 601C240 601 300 601 360 601C420 601 480 601 540 601C600 601 660 601 720 601C780 601 840 601 870 601L900 601L900 443L870 452C840 461 780 479 720 493C660 507 600 517 540 503C480 489 420 451 360 443C300 435 240 457 180 477C120 497 60 515 30 524L0 533Z' fill='%23004cbb'%3e%3c/path%3e%3c/svg%3e");
  background-color: #0066ff;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  position: absolute;
  right: 80px;
  top: 0;
  color: black;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.timeminder-containerTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.timeminder-containerButtonTimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeminder-buttonTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  font-style: 3.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.timeminder-playButtonTimer {
  background-color: #6cc070;
  color: white;
}

.timeminder-stopButtonTimer {
  background-color: #cc0202;
  color: white;
}

.timeminder-pauseButtonTimer {
  background-color: #fcc317;
  color: white;
}
