.timeminder .timeminder-container-button-sidebar {
  position: fixed;
  top: 50%;
  right: -100px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 500ms ease;
}

.timeminder .timeminder-mouseOutsideScreen {
  right: -65px;
}
