.timeminder-sideBarMainFeatures {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.timeminder .timeminder-sidebar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  right: 10px;
  width: 60px;
  height: 90%;
  background-color: rgba(122, 122, 122, 0.103);
  z-index: 32000;
  opacity: 0;
  transition: all 2s ease;
  color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
}
.timeminder .timeminder-sidebar.timeminder-active {
  opacity: 1;
}
