.timeminder .timeminder-timerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #0066ff;
  position: relative;
  margin-top: 15px;
  cursor: pointer;
}

.timeminder-timerIconSidebar {
  height: 33px;
  width: 33px;
}
